.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.cart>.cartHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: .8rem;
  border: .01rem solid #ccc;
  font-size: .3rem;
  padding: 0 .3rem;
  box-sizing: border-box;
}
.cartSection{
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background: #eee;
}

.cartSection>.cartList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    margin-bottom: .3rem;
    font-size: .25rem;
    padding: .1rem;
    box-sizing: border-box;
}
.cartSection>.cartList>i{
    font-size: .5rem;
}
.cartSection>.cartList>img{
    width: 30%;
}
.cartSection>.cartList>span{
    font-size: .2rem;
}
.cartLast{
    display: flex;
    flex-direction: column;
    margin-left: .3rem;
}
.cartLast>.cartBottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: .3rem;
    padding: 0 .3rem;
    box-sizing: border-box;
}
.cartFooter{
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: .3rem;
}
.cartFooter>.left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cartFooter i{
    font-size: .5rem!important;
    margin-right: .1rem;
}
.cartFooter>.right{
    height: 1rem;
}
.pay{
    display:inline-block;
    height: 100%;
    width: 1.5rem;
    text-align: center;
    background: orangered;
    font-size: .35rem;
    color: #fff;
    padding-top: .2rem;
    box-sizing: border-box;
}
