footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 1rem;
  padding: 0 .5rem;
  box-sizing: border-box;
  border-top: .01rem solid #ccc;
}

footer span {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: .4rem;
  font-size: .25rem;
}

footer span>i {
  font-size: .4rem !important;
}

footer .router-link-active {
  color: orangered;
}